.searchContainerFocus{
    position: relative !important;
    top: 11% !important;
    transition: all 0.5s;
  }

  #bod{
    
    
      background-size: cover;
      width: 100%;
      height: 100%;
  }

  a{
      text-decoration: none;
  }

  .form-control:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .divFocus{
      position: relative !important;
      top: 11.5% !important;
      overflow: scroll;
      transition: all 0.5s;
  }
  .middleLine{
    position: relative;
    top: 11% !important;
    margin: 5px;
    transition: all 0.5s
  }

  ::-webkit-scrollbar-track
  {
    opacity: 0.4;
  }

  ::-webkit-scrollbar
  {
    opacity: 0.4;
  }

  ::-webkit-scrollbar-thumb
  {
    box-shadow: black;
    background-color: #555;
    border-radius: 20px;
  } 

  .dropdownButton {
      width: 15%;
  }

  .textColour {
      color: white;
  }

  .hober {
      cursor: pointer;
  }
  .insideTag {
      margin-left: 0px;
  }


  .dropdown-submenu {
      position:relative;
  }

  li:hover > ul.dropdown-menu {
      display: block;
  }

  .dropdown-submenu>.dropdown-menu {
      top:0px;
      left:-15em;
      /* left:-10rem; 10rem is the min-width of dropdown-menu */
      margin-top:-6px;
      border-radius: 0rem 0.25rem 0.25rem 0.25rem ;
  }

  /* rotate caret on hover */
  .dropdown-menu > li > a:hover:after {
      text-decoration: underline;
      transform: rotate(90deg);
  } 

  .folder{
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
  }
  .open{
    opacity: 1;
  }
  .pinned{
    color: red;
  }
  .clickableItem{
    cursor: pointer;
  }
